<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        .required:after {
            content: " *";
            color: red;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#barcodeInput').focus();

            // Refocus cursor in barcode input if empty after selecting a customer
            $('#customerselectid').on('change', function() {
                if ($('#barcodeInput').val().trim() === '') {
                    $('#barcodeInput').focus();
                }
            });

            $('#barcodeInput').on('input', function () {
                var barcode = $(this).val();
                if (barcode.length >= 11) {
                    $(this).val(barcode.substring(0, 11));
                    $('#barcodeForm').submit();
                }
            });

            function focusInputAfterDelay(selector, delay) {
                setTimeout(function() {
                    console.log("Focusing on input");
                    $(selector).focus();
                }, delay);
            }

            // Example usage: Wait 0.1 seconds (100 milliseconds) and then focus on the input field with ID 'barcodeInput'
            focusInputAfterDelay('#barcodeInput', 100);
        });
    </script>

</head>
<body>
<div th:insert="auth/navbar.html :: navbarfragment"></div>
<div class="container">
    <div class="alert alert-primary" role="alert">Scan Products to Checkout</div>
    <br>
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
    <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>

    <form id="barcodeForm" th:action="@{/checkout/scan?customJwtParameter=__${customJwtParameter}__&cartid=__${cart.cartid != null ? cart.cartid : '0'}__}" th:object="${cart}" method="post">
        <div class="row">
            <div class="col-md-8">
                <!-- Form Section -->
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-6" style="margin-bottom: 5px;">
                        <label class="form-label required">Scan Barcode: </label>
                        <input id="barcodeInput" type="text" th:field="*{barcode}" class="form-control" placeholder="barcode" aria-label="barcode">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-6" style="margin-bottom: 5px;">
                       <b> <label th:classappend="${cart.cartid != null ? '' : 'required'}" class="form-label">Customer</label></b>
                        <div th:if="${cart.cartid}">
                            <p th:each="customer : ${customers}" th:if="${customer.customerid == cart.customer.customerid}" th:text="${customer.name}">Customer Name</p>
                            <input type="hidden" th:field="*{customer.customerid}">
                        </div>
                        <div th:if="${cart.cartid == 0}">
                            <select class="form-control" th:field="${cart.customer.customerid}" id="customerselectid">
                                <option value="" selected="selected">Select a customer</option>
                                <option th:each="customer : ${customers}" th:value="${customer.customerid}" th:text="${customer.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-6" style="margin-bottom: 5px;">
                        <label class="form-label required">Total Price</label>
                        <input type="text" th:field="*{total}" class="form-control" placeholder="total" aria-label="total" readonly>
                    </div>
                    <input type="hidden" th:field="*{isprocessed}">
                    <input type="hidden" th:field="*{updateTimeStamp}">
                    <input type="hidden" th:field="*{createTimeStamp}">
                </div>
                <button  style="margin-top: 5px;visibility: hidden; " type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-4">
                <!-- Table Section -->
                <div style="overflow-x: auto;">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${cart.product_cart_list}">
                            <td th:text="${item.name}">Item Name</td>
                            <td th:text="${item.price}">Price</td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" th:field="*{product_cart_list}">
                </div>
            </div>
        </div>
    </form>

    <form id="submitTransactionForm" th:action="@{/checkout/reviewcart?customJwtParameter=__${customJwtParameter}__&cartid=__${cart.cartid != null ? cart.cartid : '0'}__}" th:object="${cart}" method="post">
        <input type="hidden" th:field="*{product_cart_list}">
        <input type="hidden" th:field="*{customer.customerid}">
        <button  style="margin-top: 5px;" type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>
</body>
</html>
