<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Batch</title>
    
    <!-- UIMODE Controlled CSS -->
    <link th:if="${UIMODE == 'MODERN'}" rel="stylesheet" th:href="@{/css/MODERN/modern.css}">
    <link th:if="${UIMODE == 'RETRO'}" rel="stylesheet" th:href="@{/css/RETRO/retro.css}">
    <link th:if="${UIMODE == 'VEGAS'}" rel="stylesheet" th:href="@{/css/VEGAS/vegas.css}">
    <link th:unless="${UIMODE}" rel="stylesheet" th:href="@{/css/MODERN/modern.css}">
</head>
<body class="batch-page">



<div th:insert="fragments/adminnavbar.html :: adminnavbarfragment"> </div>


<div class="container-fluid">


    <div class="header-dark">
        <h1><i class="bi bi-box-seam me-2"></i>Create New Batch</h1>
    </div>
    <div class="alert alert-primary" role="alert">Create a new Batch Data Form entry in the database</div>
    <br>
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
    <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>

    <div th:if="${successMessage != null}" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <a th:href="@{/batch/admin?batchid=__${batch.batchid}__}" class="btn btn-warning btn-lg">
            Go to newly created batch!
        </a>
    </div>

    <!-- if th-->
    <div th:if="${batch.createTimeStamp == null && successMessage == null}">
        <form th:action="@{/newbatch/createNewBatch}" th:object="${batch}" method="post">

            <div class="row mb-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label class="form-label required">Batch Name</label>
                    <input type="text" th:field="*{name}" id="name" class="form-control edit-validation-group" placeholder="Enter batch name" aria-label="name">
                    <span class="validation-error"></span>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label class="form-label">Batch Description</label>
                    <input type="text" th:field="*{description}" class="form-control" placeholder="Enter batch description" aria-label="description">
                    <span class="validation-error"></span>
                </div>
            </div>


            <br>
            <br>

            <div class="row mb-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label class="form-label required">Batch Type</label>
                    <select class="form-control edit-validation-group" th:field="${batch.batch_type_id}" id="batch_type_id">
                        <option value="">Select batch type</option>
                        <option th:each="batchtype : ${batchtypes}" th:value="${batchtype.batch_type_id}" th:text="${batchtype.name}"></option>
                    </select>
                    <span class="validation-error"></span>
                </div>
            </div>


            <br>
            <br>

            <div class="row mb-3">
                <div class="col-12 mb-3">
                    <label class="form-label required">Notes</label>
                    <textarea th:field="*{notes}" id="notes" class="form-control edit-validation-group" placeholder="Enter batch notes" aria-label="notes" rows="6"></textarea>
                    <span class="validation-error"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>

    </div> <!-- end non filelist -->



            <br>
            <br>


            <!-- Show list of uploaded files -->
            <div th:if="${filelist != null}">
                <div class="alert alert-primary" role="alert">Files Previously Uploaded</div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">File Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="file : ${filelist}">
                            <td th:text="${file.filename}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>




        </div>







    <!-- Validation Fragment -->
    <div th:insert="fragments/validation.html :: validationfragment"></div>

</div>

<script>
    const inputFields = [
        'name',
        'batch_type_id',
        'notes',
        'description'
    ];
    
    const optionalFields = ['description','notes'];
    
    document.addEventListener("DOMContentLoaded", () => {
        initializeValidation(inputFields, optionalFields);
    });
</script>

</body>
</html>
