<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Xlsx Batch</title>


    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
      .required:after {
        content:" *";
        color: red;
      }
    </style>

</head>
<body>



<div th:insert="fragments/adminnavbar.html :: adminnavbarfragment"> </div>


<div class="container">


    <div class="alert alert-primary" role="alert" >Upload an xlslx price sheet to make a batch</div>

    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
    <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>

    <br>


            <br>
            <br>


            <div style="margin-bottom: 5px;" class="mx-auto">

                <div class="alert alert-info" role="alert" >Upload a file</div>
                <!-- pass the batch object to the upload file controller to get the correct ID to save it under -->
                <form method="post" th:action="@{/file/xlsx/upload?customJwtParameter=__${customJwtParameter}__}" enctype="multipart/form-data">
                    <div class="form-group">
                            <input type="file" name="file" class="form-control-file">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Upload File</button>

                </form>
            </div>


        </div>







</div>


</body>
</html>
