
<div th:fragment="adminnavbarfragment">
    <script>
        function postLogout(){
            console.log("postLogout");
            document.getElementById("logoutform").submit();
        }
    </script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a th:if="${isAuthenticated}" class="navbar-brand" th:href="@{/dashboard/index}">Inventory TechVVS</a>
            <a th:if="${!isAuthenticated}" class="navbar-brand" th:href="@{/login}">Inventory TechVVS</a>
            <div id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li th:if="${!isAuthenticated}" class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/login}">Home</a>
                    </li>
                    <li th:if="${isAuthenticated}" class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/dashboard/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/batchtype}">New Batch Type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/producttype}">New Product Type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/packagetype}">New Package Type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/product}">New Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/newbatch}">New Batch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/newbatch/uploadxlsx}">Upload xlsx</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/product/searchProduct}">Search Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/newbatch/searchBatch}">Search Batches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/product/browseProduct}">Browse Products</a>
                    </li>
                    <li th:if="${isAuthenticated}" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="javascript:{}" onclick="postLogout()">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <form id="logoutform" th:action="@{/login/logout}" method="post">
        <button id="triggerLogout" style="margin-top:5px;" type="submit" class="btn btn-primary" hidden>Submit</button>
    </form>

</div>
