<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Expenses Config</title>
    
    <!-- UIMODE Controlled CSS -->
    <link th:if="${UIMODE == 'MODERN'}" rel="stylesheet" th:href="@{/css/MODERN/modern.css}">
    <link th:if="${UIMODE == 'RETRO'}" rel="stylesheet" th:href="@{/css/RETRO/retro.css}">
    <link th:if="${UIMODE == 'VEGAS'}" rel="stylesheet" th:href="@{/css/VEGAS/vegas.css}">
    <link th:unless="${UIMODE}" rel="stylesheet" th:href="@{/css/MODERN/modern.css}">

    <script th:inline="javascript">
        var editmode = /*[[${editmode}]]*/ false; // Thymeleaf will inject true/false here
        console.log("Edit Mode:", editmode); // Debug to check if it's injected correctly
    </script>
</head>
<body class="expense-page">

<div th:insert="fragments/adminnavbar.html :: adminnavbarfragment"> </div>

<div class="container-fluid">

    <div class="header-dark">
        <h1><i class="bi bi-cash-coin me-2"></i>Administrate Expenses</h1>
    </div>

    <!-- New Product Edit Section -->
<!--    <div th:if="${!editmode}" class="tip-box">Create a New Menu by typing in New Menu Name.  </div>-->
<!--    <div th:if="${editmode}" class="tip-box">Modify attributes of menu. </div>-->
    <div class="tip-box">Log expenses to a batch and/or vendor. </div>

    <div id="successDiv" class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}">
        Success
    </div>

    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">
        Error
    </div>


    <form th:action="@{/accounting/admin/expenses/edit}" method="post" th:object="${expense}">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <label class="form-label">Expense ID</label>
                <input type="text" th:field="*{expenseid}" id="expenseid" class="form-control edit-validation-group" placeholder="Expense ID" readonly>
                <span class="validation-error"></span>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <label class="form-label">Amount</label>
                <input type="number" th:field="*{amount}" id="amount" class="form-control edit-validation-group" placeholder="Amount">
                <span class="validation-error"></span>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <label class="form-label">Notes</label>
                <input type="text" step="any" th:field="*{notes}" id="notes" class="form-control edit-validation-group" placeholder="Notes">
                <span class="validation-error"></span>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <label class="form-label">Payment Method</label>
                <select th:field="*{paymentmethod}" class="form-select edit-validation-group">
                    <option value="" th:if="*{paymentmethod} == null">-- Select Payment Method --</option>
                    <option th:each="paymentmethod : ${paymentmethods}"
                            th:value="${paymentmethod.name()}"
                            th:text="${paymentmethod.name()}">
                    </option>
                </select>
                <span class="validation-error"></span>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <label class="form-label">Expense Type</label>
                <select th:field="*{expensetype}" class="form-select edit-validation-group">
                    <option value="" th:if="*{expensetype} == null">-- Select Expense Type --</option>
                    <option th:each="expensetype : ${expensetypes}"
                            th:value="${expensetype.name()}"
                            th:text="${expensetype.name()}">
                    </option>
                </select>
                <span class="validation-error"></span>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <label class="form-label">Batch</label>
                <select th:field="*{batch}" class="form-select edit-validation-group">
                    <option value="" th:if="*{batch} == null">-- Select Batch --</option>
                    <option th:each="batch : ${batches}"
                            th:value="${batch.batchid}"
                            th:text="${batch.name}">
                    </option>
                </select>
                <span class="validation-error"></span>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <label class="form-label">Vendor</label>
                <select th:field="*{vendor}" class="form-select edit-validation-group">
                    <option value="" th:if="*{vendor} == null">-- Select Vendor --</option>
                    <option th:each="vendor : ${vendors}"
                            th:value="${vendor.vendorid}"
                            th:text="${vendor.name}">
                    </option>
                </select>
                <span class="validation-error"></span>
            </div>
        </div>



<!--        &lt;!&ndash; START: put any hidden values needed here &ndash;&gt;-->
        <input th:if="${expense.expenseid != null && expense.expenseid != 0}" type="hidden" th:field="*{updateTimeStamp}">
        <input th:if="${expense.expenseid != null && expense.expenseid != 0}" type="hidden" th:field="*{createTimeStamp}">
<!--        &lt;!&ndash; END: Hidden Values &ndash;&gt;-->



        <div class="text-end" th:if="${successMessage == null}">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>

    </form>

    <br>

    
    <!-- START: Expenses Config Selection Table -->
    <div class="col-12" th:if="${expensePage != null && expensePage.content.size() > 0}">
        <div class="tip-box">Select an Expense by clicking on the Expense ID</div>
        <div class="table-responsive">
            <table id="selectMenuTable" class="table table-hover table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Expense ID</th>
                <th scope="col">Batch</th>
                <th scope="col">Vendor</th>
                <th scope="col">Amount</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Expense Type</th>
                <th scope="col">Notes</th>
                <th scope="col">Created</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense, iStat : ${expensePage.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td>
                    <a th:href="@{/accounting/admin/expenses?size=__${#lists.size(expensePage.content) > 5 ? #lists.size(expensePage.content) : 5}__&page=__${page == null ? 0 : page}__&expenseid=__${expense.expenseid == null ? 0 : expense.expenseid}__}"
                       th:data-expenseid="${expense.expenseid}"
                       id="expenseid-${expense.expenseid}"
                       class="btn btn-warning btn-sm">
                        <span th:text="${expense.expenseid}"></span>
                    </a>
                </td>
                <td th:text="${expense.batch.name}"></td>
                <td th:text="${expense?.vendor?.name ?: 'N/A'}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.paymentmethod}"></td>
                <td th:text="${expense.expensetype}"></td>
                <td th:text="${expense.notes}"></td>
                <td th:text="${expense.createTimeStamp}"></td>


            </tr>
            </tbody>
            </table>
        </div>
        <nav th:if="${expensePage.totalPages > 0}">
            <ul class="pagination flex-wrap justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link btn btn-secondary btn-sm m-1"
                       th:href="@{/accounting/admin/expenses(size=${#lists.size(expensePage.content) > 5 ? #lists.size(expensePage.content) : 5}, page=${pageNumber}, expenseid=${expense != null ? expense.expenseid : '0'})}"
                       th:text="${pageNumber}"
                       th:classappend="${pageNumber==expensePage.number + 1} ? 'active'">
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- END: Menu Selection Table -->



</div>
<div th:insert="fragments/validation.html :: validationfragment"> </div>
<script>
    const inputFields = [
        'expenseid', 'batch', 'vendor', 'amount',
        'paymentmethod', 'notes', 'expensetype', 'notes'
    ];

    const optionalFields = ['notes', 'vendor'];

    document.addEventListener("DOMContentLoaded", () => {
        initializeValidation(inputFields, optionalFields);
    });
</script>
</body>
</html>
