<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch Files</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" th:href="@{/css/table.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        .required:after {
            content: " *";
            color: red;
        }
    </style>



    <script>
        function openDownloadWindow(button) {
            const filename = button.getAttribute('data-filename');
            const customJwtParameter = button.getAttribute('data-jwt');
            const directory = button.getAttribute('data-directory');
            const batchid = button.getAttribute('data-batchid');
            const url = `/file/simple/download?filename=${encodeURIComponent(filename)}&customJwtParameter=${encodeURIComponent(customJwtParameter)}&directory=${encodeURIComponent(directory)}&batchid=${encodeURIComponent(batchid)}`;
            window.open(url, '_blank', 'width=600,height=400');
        }
    </script>

</head>
<body>
<div th:insert="auth/navbar.html :: navbarfragment"> </div>

<div class="container">
    <div class="col-sm-2" style="margin-bottom: 5px;">
        <a th:href="@{/newbatch/editform?batchnumber=__${batch.batchnumber}__&customJwtParameter=__${customJwtParameter}__&editmode=no}" >Back To Batch</a>
    </div>

    <br>
    <div style="margin-top: 20px" class="alert alert-primary" role="alert">View files related to your batch!</div>
    <br>
    <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
    <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}">Success</div>
    <div class="alert alert-primary" role="alert" th:if="${primaryMessage}" th:text="${primaryMessage}">Success</div>

    <div class="alert alert-primary" role="alert" >Files Uploaded For Batch ID: <span th:text="${batch.batchid}"></span></div>
    <div class="alert alert-primary" role="alert" >Batch #: <span th:text="${batch.batchnumber}"></span></div>


    <div class="col-sm-2" style="margin-bottom: 5px;">
        <!--  -->
        <form th:action="@{/viewfiles/viewdirfiles?batchid=__${batch.batchid}__&customJwtParameter=__${customJwtParameter}__&size=5&page=1}" th:object="${menuoption}" method="post">
            <label class="form-label required">View files in dir</label>
            <select class="form-control" th:field="${menuoption.selected}"  >
                <option th:each="menuoption : ${directoryoptions}" th:value="${menuoption}" th:text="${menuoption}"></option>
            </select>
            <button style="margin-top:5px;" type="submit" class="btn btn-primary">Select Directory</button>
        </form>
    </div>


    <!-- Show list of uploaded files -->
<!--    <div th:if="${filelist}">-->


        <table class="table" border="1">
            <thead>
            <tr>
                <th scope="col">filename</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file, iStat : ${filePage.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">

                <td><span th:text="${file.filename}"></span>
                    <button th:data-filename="${file.filename}" th:data-jwt="${customJwtParameter}" th:data-directory="${file.directory}" th:data-batchid="${batch.batchid}" onclick="openDownloadWindow(this)">Download File</button></td>

            </tr>
            </tbody>
        </table>





        <div th:if="${filePage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/viewfiles?batchid=__${batch.batchid}__&customJwtParameter=__${customJwtParameter}__&size=5&page=__${pageNumber}__}"
               th:text=${pageNumber}
               th:class="${pageNumber==filePage.number + 1} ? active"></a>
        </div>
<!--    </div>-->



</div>
</body>
</html>
