/* MODERN UI Mode - Form Styles */

.form-control, .form-select {
    background-color: #343a40;
    color: #fff;
    border: 1px solid #343a40;
    padding: 15px;
    font-size: 16px;
    min-height: 50px;
}

.form-control:focus, .form-select:focus {
    background-color: #343a40;
    color: #fff;
    border-color: #1d2124;
    box-shadow: none;
}

.form-label {
    color: #000;
}

.form-check-input {
    transform: scale(2.5);
    margin-right: 1.5rem;
    margin-top: 3rem;
    margin-left: 3rem;
    min-width: 25px;
    min-height: 25px;
}

.required:after {
    content: " *";
    color: red;
}

/* Record selector dropdown styles */
.record-selector {
    margin-bottom: 15px;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.record-selector select {
    background-color: #23272b;
    color: #fff;
    border: 1px solid #343a40;
}

.record-selector select:focus {
    border-color: #1d2124;
    box-shadow: none;
}

/* Checkout-specific form styles */
#quantityModeCheckbox {
    width: 25px;
    height: 25px;
}

.form-check-label {
    background-color: #343a40;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#quantityModeCheckbox:focus + .form-check-label {
    outline: 2px solid white;
}

/* Delivery Queue Form Styles */
.search-bar {
    display: flex;
    align-items: end;
}

.search-bar .form-control {
    margin-bottom: 0;
}

.search-bar .btn {
    margin-bottom: 0;
}

/* Adjust for Alignment */
.align-items-center .form-control,
.align-items-center .form-select,
.align-items-center .btn {
    height: calc(2.5rem + 2px);
}

/* Glowing validation styles */
.glowing-valid {
    box-shadow: 0 0 8px 2px #00ffff !important;
}

.glowing-invalid {
    box-shadow: 0 0 8px 2px #ff0000 !important;
}

/* Progress bar styles */
.progress {
    flex: 1;
    margin-left: 20px;
}

.progress-bar {
    background-color: #6c757d;
}

/* Notes bubble styles */
.notes-bubble {
    background-color: #f1f8fa;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
